@import url('https://fonts.cdnfonts.com/css/quilin');
@font-face {
  font-family: 'Postre';
  src: url('/demo-postre.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
:root {
  --header-color:#FFFDF0;
  --red-900: #BE2233;
  --red-400: #F4D9D2;
  --beige-500: #CC876A;
  --blue-600: #346D9E;
  --blue-700: #2668A2;
  --gray-200: #DEDEDE;
  --dark-yellow: #CCAD6E;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quilin', sans-serif;
  list-style: none;
  text-decoration: none;
}

header{
  background-color: var(--header-color) ;
  height: 11.1875rem;
  filter: drop-shadow(0 0 4px rgba(0,0,0,0.2));
}

.header-container{
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;

  padding-top: 2.5rem;
}

.upper-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.upper-content > h1 {
  font-size: 2.25rem;
  color: var(--red-900);
  font-weight: 400;
  margin-left: 2.9375rem;
}
.search-input {
  background-color: var(--red-400);
  border-radius: 5px;
  padding-inline: 1.875rem;

  width: 31.25rem;
  height: 2.75rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.search-input input {
  background: transparent;
  height: 100%;
  width: 90%;
  outline: none;
  border: none;

  color: var(--beige-500);
  font-size: 24px;
  font-weight: 400;
  
}

.search-input input::placeholder{
  color: var(--beige-500);
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  top: 30%;
}
/*informações da conta*/
.account-info{
  display: flex;
  align-items: center;
  gap: 1.7rem;
  font-size: 1rem;
  font-weight: 400;
}
.account-init{
  display: flex;
  align-items: center;
  gap: 4px;
}
.account-init > div {
  display: flex;
  flex-direction: column;
}
.account-cart{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.account-cart > div {
  background-color: var(--beige-500);
  padding: 3px 8px;
  color: #FFFDF0;
  border-radius: 999px;
  font-size: 15px;
  font-family: 'Postre';
}

.divider {
  width: 100%;
  margin-top: 24px;
  height: 2px;
  border-radius: 8px;
  background-color: var(--red-400);
}

/*categorias*/

.header-categories > ul{
  display: flex;
  justify-content: space-between;
  padding-top: 2.2rem;
  color: var(--blue-600);
  list-style: none;
  padding-inline: 1rem;
  font-size: 1.5rem;
}

/*home */
.carrossel-img {
 width: 100%;
 display: flex;
 justify-content: center;
  height: 390px;
 background-image: url('./assets/img/home-img.png');
 background-repeat: no-repeat;
 background-position: center;
}


.releases-section{
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;

}
.releases-section > h2 {
  font-size: 2.25rem;
  font-weight: 400;
  text-align: center;
  padding: 30px 0;
}

/*cads dos produtos */
.card{
  width: 15.1875rem;
  border-radius: 5px;
  border: 2px solid var(--gray-200);

  display: flex;
  flex-direction: column;
  align-items: center;

  
}
.card > .release-tag {
  background-color: var(--blue-600);
  width: 5.5rem;
  padding: 5px 15px;
  border-radius: 5px;

  color: #FFFDF0;
  font-weight: 400;
  font-size: 0.6875rem;
  text-align: center;
  font-family: 'Postre';
  margin-top: -12px;

}
.card > .product-highlight {
  padding: 20px 15px;
}
.product-highlight > h3{
  padding-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 400;
}

.product-highlight > div {
  display: flex;
  flex-direction: column;
  align-items: start;

}
.price {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 10px;
  font-family: 'Postre';
}

.products-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;

}

/*sessão de categorias*/
.category-section{
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  padding-top: 4.625rem;

  display: flex;
  justify-content: center;
  gap: 1.25rem;
}

/*sessão de promoções */
.sale-section{
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 17px;
  padding-bottom: 60px;
}

.sale-section h2 {
  font-size: 2.25rem;
  font-weight: 500;
  padding-bottom: 17px;
}

.sales-container {
  display: flex;
  gap: 12px;
}

/* footer */
footer {
  background-color: var(--blue-700);
  min-height: 500px;
}
.footer-container {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.footer-upper-content{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 55px;
}
.footer-info > h3 {
  font-size: 20px;
  font-weight: 400;
  color: #FFFDF0;
}

.footer-info > span {
  font-size: 1rem;
  font-weight: 500;
  color: #CCAD6E;
}

.sigin-up-email{
  display: flex;
  align-items: center;
}
.sigin-up-email input {
  width: 503px;
  border-radius: 5px;
  background-color: var(--red-400);
  height: 44px;
  outline: none;
  border: none;
  margin-right: -5px;
  padding-left: 21px;
  color: var(--dark-yellow);
  font-size: 1rem;
}

.sigin-up-email input::placeholder {
  color: var(--dark-yellow);
  font-size: 1rem;

}
.sigin-up-email button {
  background-color: var(--beige-500);
  border: none;
  outline: none;
  border: none;
  width: 159px;
  height: 44px;
  color: #FFFDF0;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 5px;
}

.footer-lower-content{
  width: 100%;
  padding-top: 64px;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.logo-text{
  color: #FFFDF0;
  font-size: 36px;
  font-weight: 400;
}

.social-medias > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 22px;
}

.footer-h3 {
  color: #FFFDF0;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
}
.services > ul >li {
  padding-bottom: 3px;
}
.services ul li a{
  color: var(--dark-yellow);
  font-size: 1rem;
  font-weight: 400;
}
.services-2 ul li a{
  color: var(--dark-yellow);
  font-size: 1rem;
  font-weight: 400;
  padding-left: 5px;
}
.payment-options{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.blue-text{
  color: var(--blue-600);
}
.beige-text {
  color: var(--beige-500);
}